 Minimization Step 2
 &cntrl
   igb = 1, imin = 1, ntx = 1, irest = 0,

   ioutfm = 0, ntxo = 1, ntb = 0,

   maxcyc = 1000, ncyc = %NCYC%, drms = 0.001,

   ntpr = 25, ntwr = 100, ntwx = 100, 

   cut = 999.9, dielc = 1.0, 

   saltcon = 0.1, 

   ntc = 2, ntf = 2,

   ntt = 3, tempi = 298.15, temp0 = 298.15, gamma_ln=5.0,

   tautp = 0.5, ig = 71277,

   ntp = 0, taup = 0.5,

   ntr = 0, ibelly = 0,

 &end

